 :root {
    --max-width: 1280px;
    --min-width: 320px;
    --accent-color: #00c2ff;
}

*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 46);
    color: #fff;
    font-size: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
.book-appoinment {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    font-size: 24px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url('../img/porsch.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.header, .content, .footer{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--max-width);
}

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: bold;
}

.logo img {
    margin-right: .5rem;
}

.menu-list {
    margin: 0;

}

.menu-list__item {
    display: inline-block;
    margin: 0 .5rem;
    font-size: 24px;
}

.menu-list__item:last-child {
    margin-right: 0;
}



.content {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content__claim {
    font-size: 60px;
    color: var(--accent-color);
    margin: 0;
}

.content__subclaim {
    font-size: 30px;
    margin: .5rem 0;
    margin-bottom: 0;
}

/* footer */
.footer-wrapper {
    background-color: #000;
}

.footer {

}
